<Header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 10px 50px;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">ebay</a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cart ">Cart</a>
                    </li>
                    {{#if user}}
                        <li class="nav-item">
                            <a class="nav-link" href="#">Order</a>
                        </li>
                    {{/if}}
                </ul>

            </div>
        </div>
        {{#if user}}
        <div class="dropdown">
            <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                data-bs-toggle="dropdown"
            >
                {{user.name}}
            </button>
            <div
                class="dropdown-menu"
                aria-labelledby="dropdownMenuButton"
                style="right: 0 !important; left: unset; margin-top: 10px;"
            >
                <a class="dropdown-item" href="/logout">Logout</a>
                

            </div>
        </div>
        {{else}}
        <div class="dropdown">
            <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                data-bs-toggle="dropdown"
            >
                Account
            </button>
            <div
                class="dropdown-menu"
                aria-labelledby="dropdownMenuButton"
                style="right: 0 !important; left: unset; margin-top: 10px;"
            >
                <a class="dropdown-item" href="/login">Login</a>
                 <a class="dropdown-item" href="/signup">Sign up</a>
                

            </div>
        </div>{{/if}}
    </nav>
</Header>