<div class="row">
    {{#if error}}
        <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
            <strong>Login failed</strong>
            please cheak your email or password and try again.
            <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
            ></button>
        </div>
    {{/if}}
    <div class="col-md-5 m-auto">
        <div class="container mt-5 p-5">

            <h2 class="text-center mb-5">Login</h2>
            <form class="container" method="post" action="/login">
                <div class="form-group mb-3">
                    <label for="exampleInputEmail1">Email address</label>
                    <input
                        type="email"
                        name="email"
                        class="form-control"
                        id="exampleInputEmail1"
                        aria-describedby="emailHelp"
                        placeholder="Enter email"
                        autofocus
                    />
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email
                        with anyone else.</small>
                </div>
                <div class="form-group mb-3">
                    <label for="exampleInputPassword1">Password</label>
                    <input
                        type="password"
                        name="password"
                        class="form-control"
                        id="exampleInputPassword1"
                        placeholder="Password"
                        autofocus
                    />
                </div>
                <div
                    class="mb-3"
                    style="display:flex; justify-content:space-between; align-item:center; "
                >
                    <a href="/signup">Create a new account ?</a>

                    <button type="submit" class="btn btn-primary">Submit</button></div>
            </form>
        </div>
    </div>
</div>